
<div
*ngIf="!authx.user"
class="h-screen bg-gradient-to-tl from-green-400 to-indigo-900 w-full py-16 px-4"
>
<div class="flex flex-col items-center justify-center">
  <img class="logo w-32 drop-shadow-[0_10px_8px_rgba(255,255,255,.4)] p-0 m-0" src="assets/images/logo-taskfire-retangulo.png" alt="">
  <div *ngIf="authx.error" role="alert">
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
      Danger
    </div>
    <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      <p>{{ authx.error }}</p>
    </div>
  </div>

    <div class="bg-white shadow rounded lg:w-1/3 md:w-1/2 w-full p-10 mt-16">
      <p
        tabindex="0"
        class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800"
      >
        Faça login na sua conta
      </p>
      <p
        tabindex="0"
        class="focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500"
      >
      Não tem conta?
        <a
          href="javascript:void(0)"
          class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"
        >
          Crie aqui</a
        >
      </p>
      <button
        (click)="authx.googleSignIn()"
        aria-label="Continue with google"
        role="button"
        class="focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10"
      >
        <img
          src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg"
          alt="google"
        />
        <p class="text-base font-medium ml-4 text-gray-700">
          Google
        </p>
      </button>
      <div class="w-full flex items-center justify-between py-5">
        <hr class="w-full bg-gray-400" />
        <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OU</p>
        <hr class="w-full bg-gray-400" />
      </div>
      <div>
        <label
          id="email"
          class="text-sm font-medium leading-none text-gray-800"
        >
          Email
        </label>
        <input
          aria-labelledby="email"
          type="email"
          class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="mt-6 w-full">
        <label
          for="pass"
          class="text-sm font-medium leading-none text-gray-800"
        >
          Senha
        </label>
        <div class="relative flex items-center justify-center">
          <input
            id="pass"
            type="password"
            class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
            [(ngModel)]="password"
            name="password"
          />
          <div class="absolute right-0 mt-2 mr-3 cursor-pointer">
            <img
              src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg5.svg"
              alt="viewport"
            />
          </div>
        </div>
      </div>
      <div class="mt-8">
        <button
          (click)="authx.emailSignIn(email, password)"
          role="button"
          class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="authx.user">
  Logged as <b>{{ authx.user.email }}</b> | <button (click)="authx.signOut()">Sair</button>

  <hr>

  <h2>Lista do firebase</h2>
  <hr>
  <div>Nome:</div>
  <div><input type="text" [(ngModel)]="formNewName" name="novoNome"></div>
  <div>Age:</div>
  <div><input type="text" [(ngModel)]="formNewAge" name="novaIdade"></div>
  <br>
  <button (click)="addItem()">Adicionar</button>
  <hr>


<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Nome
              </th>
              <th scope="col" class="px-6 py-3">
                  Idade
              </th>
              <th scope="col" class="px-6 py-3">
                  Email
              </th>
              <th scope="col" class="px-6 py-3">
                  Comando
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of list | async" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th  [title]="['chave: ' + item.key]" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ item.name }}
              </th>
              <td  [title]="['chave: ' + item.key]" class="px-6 py-4">
                {{ item.age }}
              </td>
              <td  [title]="['chave: ' + item.key]" class="px-6 py-4">
                {{ item.email }}
              </td>
              <td [title]="['chave: ' + item.key]" class="px-6 py-4">
                <button (click)="deleteItem(item.key)">remover</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

</div>

<div class="footer absolute bottom-0 flex w-full justify-center">
  <div>
    <small>Todos os direitos reservados © 2023</small>
  </div>
</div>
